@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rent A Car<br />
    Istanbul, Pendik<br />
    <abbr title="Phone">P:</abbr>
    +0212 215 15 25
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@rentAcar.com">Support@rentAcar.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@rentAcar.com">Marketing@rentAcar.com</a>
</address>
