
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    if (Session["LoginedUser"] == null)
    {
        Response.Redirect("/Login/Login");
        return;
    }
    if (string.IsNullOrEmpty(Session["LoginedUser"].ToString()))
    {
        Response.Redirect("/Login/Login");
        return;
    }
    string[] userTemp = Session["LoginedUser"].ToString().Split(',');
    if (userTemp.Count() != 3)
    {
        Response.Redirect("/Login/Login");
        return;
    }

}
<h2>Welcome, dear @userTemp[2] </h2>


